<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'inc/_nav.html' %}
{% load widget_tweaks %}
    <div class="fixed-container" style="text-align: center">
        <div class="form-content my-3 p-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                            <div class="card-header justify-content-center">
                              <h5 class="font-weight-light my-4 text-center">Change Your Password</h5>
                                <hr>
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <div id="form_errors">
                                        {% for key, value in form.errors.items %}
                                            <strong>{{ value }}</strong>
                                        {% endfor %}
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endif %}

                            <div class="card-body">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1 p1" for="id_old_password">Old Password</label><br>
                                                <input type="password" name="old_password" autocomplete="new-password"
                                                       class="form-control" required id="id_old_password"
                                                       placeholder="Enter Old Password"/><br>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1 p1" for="id_new_password1">New Password</label><br>
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                       class="form-control " required id="id_new_password1"
                                                       placeholder="Enter New Password"/><br>
                                                <span>
                                                </span>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group">
                                                <label class="small mb-1 p1" for="id_new_password2">New Password Confirmation</label><br>
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                       required id="id_new_password2" class="form-control"
                                                       placeholder="Confirm New Password"/>
                                                <br><br>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-10 offset-md-1">
                                            <div class="form-group mt-0 mb-1">
                                                <button type="submit" class="col-md-12 btn btn-dark group-button" id="reset" >Update Password</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    </div>

{% include 'inc/_footer.html' %}

</body>
<style>
    footer
    {
        position: absolute;
        bottom: 0;
    }
    .form-control{
        border-radius: 5px;
        height: 40px;
        border:1px solid grey;
        padding: 10px 20px;
        width:auto;
        font-size:20px;
        background-color:;
    }
    .form-field:focus{
    border: 3px solid green;
    }
     .p1{
    font-size: 20px;
    font-family:Arial;
    margin-bottom:0;
    }
    h5{
    font-size: 30px;
    margin-bottom:10px;
    font-family:Arial;
    font-weight: normal;
    }
    a{
    text-decoration:none;
    font-size: 20px;
    color:blue;}
</style>
</html>

