{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<footer id="footer">
		<section class="footer-1" >
			<div class="footer-container">
				<div class="footer-items">
					<p class="footer-item" style="background-image: url({% static 'css/img/logo.png' %}); background-repeat: no-repeat; background-position:left center; padding-left: 120px; background-size: 100px; ">Школа танцев<br> @2013-2022</p>
					<p class="footer-item" style="background-image: url({% static 'css/img/phone.png' %}); background-repeat: no-repeat; background-position: left center; padding-left: 20px; background-size: 20px;">+7 996 646-54-37</p>
					<p class="footer-item" style="background-image: url({% static 'css/img/email.png' %}); background-repeat: no-repeat; background-position:left center; padding-left: 20px; background-size: 15px;">kns8@tpu.ru</p>
					<p class="footer-item" style="background-image: url({% static 'css/img/location.png' %}); background-repeat: no-repeat; background-position: left center; padding-left: 20px; background-size: 15px;">Г.Томск, ул.Вершинина 39а</p>
				</div>
			</div>

		</section>
	</footer>